<application-config xmlns="aurora.application" enableBMTrace="true">
    <application-view-config defaultPackage="ui.template" defaultTheme="bestseller" defaultlabelseparator=" " defaultclientresize="true" defaultTemplate="default" defaultTitle="中化国际HEC平台" resourceCachename="SystemResourceConfig" defaultAutoAdjustGrid="false"/><!-- defaultMarginWidth="40"-->
</application-config>